interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.radiant.earth/mlhub/v1/collections
  response:
    body:
      string: "{\n    \"collections\": [\n        {\n            \"description\":
        \"Microsoft Chesapeake NLCD\",\n            \"extent\": {\n                \"spatial\":
        {\n                    \"bbox\": [\n                        [\n                            -80.81605,\n
        \                           36.558805,\n                            -74.245552,\n
        \                           44.002759\n                        ]\n                    ]\n
        \               },\n                \"temporal\": {\n                    \"interval\":
        [\n                        [\n                            \"2013-01-01T00:00:00Z\",\n
        \                           \"2014-12-31T00:00:00Z\"\n                        ]\n
        \                   ]\n                }\n            },\n            \"id\":
        \"microsoft_chesapeake_nlcd\",\n            \"license\": \"CDLA-permissive-1.0\",\n
        \           \"links\": [\n                {\n                    \"href\":
        \"https://api.radiant.earth/mlhub/v1/collections/microsoft_chesapeake_nlcd\",\n
        \                   \"rel\": \"self\"\n                },\n                {\n
        \                   \"href\": \"https://api.radiant.earth/mlhub/v1/\",\n                    \"rel\":
        \"parent\"\n                },\n                {\n                    \"href\":
        \"https://api.radiant.earth/mlhub/v1/\",\n                    \"rel\": \"root\"\n
        \               },\n                {\n                    \"href\": \"https://api.radiant.earth/mlhub/v1/collections/microsoft_chesapeake_nlcd/items\",\[...]
