interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.radiant.earth/mlhub/v1/collections/ref_african_crops_uganda_01
  response:
    body:
      string: "{\n    \"description\": \"African Crops Uganda\",\n    \"extent\":
        {\n        \"spatial\": {\n            \"bbox\": [\n                [\n                    33.5466817,\n
        \                   1.4271017,\n                    35.00013415,\n                    3.7269467\n
        \               ]\n            ]\n        },\n        \"temporal\": {\n            \"interval\":
        [\n                [\n                    \"2018-01-01T00:00:00Z\",\n                    \"2018-12-31T00:00:00Z\"\n
        \               ]\n            ]\n        }\n    },\n    \"id\": \"ref_african_crops_uganda_01\",\n
        \   \"license\": \"CC-BY-SA-4.0\",\n    \"links\": [\n        {\n            \"href\":
        \"https://api.radiant.earth/mlhub/v1/collections/ref_african_crops_uganda_01\",\n
        \           \"rel\": \"self\"\n        },\n        {\n            \"href\":
        \"https://api.radiant.earth/mlhub/v1/\",\n            \"rel\": \"parent\"\n
        \       },\n        {\n            \"href\": \"https://api.radiant.earth/mlhub/v1/\",\n
        \           \"rel\": \"root\"\n        },\n        {\n            \"href\":
        \"https://api.radiant.earth/mlhub/v1/collections/ref_african_crops_uganda_01/items\",\n
        \           \"rel\": \"items\"\n        }\n    ],\n    \"providers\": [\n
        \       {\n            \"name\": \"Radiant Earth Foundation\",\n            \"roles\":
        [\n                \"licensor\",\n                \"host\",\n                \"processor\"\n
        \           ],\n            \"url\": \"https://radiant.earth\"\n        }\n
        \   ],\n    \"sci:citation\": \"Bocquet, C., Dalberg Data Insights. (2019)
        Dalberg Data Insights Uganda Crop Classification, Version 1. [Indicate subset
        used]. Radiant ML Hub. [Date Accessed]\"\n}"
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.radiant.earth/mlhub/v1/collections/ref_african_crops_uganda_01/items
  response:
    body:
      string: "{\n    \"context\": {\n        \"limit\": 10,\n        \"matched\":
        27,\n        \"page\": 1,\n        \"returned\": 10\n    },\n    \"features\":
        [\n        {\n            \"assets\": {\n                \"documentation\":
        {\n                    \"href\": \"https://api.radiant.earth/mlhub/v1/download/gAAAAABfrtw5mHHsSEvU2UyiwYySa0cbC9xWCwpdECS5kh-O68miU_thc0VjtmPwFqdzRkJk-5lG5kwD7OlmM_x-5CUSMfthwZcTT3E1kjUobYuo4-Jcf6eyLFwQ0HoBIkPOSrh9DJO-XZErgbFH749qEy4xLAKnJUi2YLe_lbvCm5tFFng5xCoBCPQ-roh1aV6bchZcLga5BW_InEccbXXsyMTu-l25iEBCyqx67f0glJOVtQd_M_jXweN7-UsCI2xqKEDeyWfrY1Nv5k-o3m6hJgNvAbFzdFQA7bBP0yL-xc8I7l78k7NyVhk49iSZ_e4rFf579Jkz\",\n
        \                   \"title\": \"Dataset Documentation\",\n                    \"type\":
        \"application/pdf\"\n                },\n                \"labels\": {\n                    \"href\":
        \"https://api.radiant.earth/mlhub/v1/download/gAAAAABfrtw5mcX6n3sr5wOfVywjpMIQ79UTdKbLilcp10QbkZoirtDENNPS2KTUaaKP0lEf5xBG6cdJLCjNy_NhI78ASFp8TLVPoOG_7wHDq0AfIKUdYSS2QjeecQXHOn9wnNPLSCg-8nmNsHqb4pf_7szv78Rl32np2b-AmodT6T2bzK_Z7y5LHV1m2JY8arsk65YotU56WC6_2mPNZfmX7oXgKNgOpeTwvATl4VDQnIY3O4TOQ99010BM0O4tC4GdfBA8UrfdcydtXIJlBrTI0ObbsQaNDO29H5TfKOO3IwyoDCe78ImTQ1RekDZTwVCGIEMRtcR3-pwNkWsC4x2K5y5tl768GBW5L_kRF42kcMqTF-foByo=\",\n
        \                   \"title\": \"Crop Labels\",\n                    \"type\":
        \"image/tiff\"\n                },\n                \"property_descriptions\":
        {\n                    \"href\": \"https://api.radiant.earth/mlhub/v1/download/gAAAAABfrtw50Ty0sIVRZ4dPP3v2Bhp-LuQ6-lYkEM-AwvVc21-1mMaUgQbtkqZE02dTygTmj8FVlmZt5jgAaQiQ7GpQDkOz9mthZcOOO9kN45DYJB6MDOPSUhw0Bo4id80e8nTZn8Saj5DCibfRf9rQsFmgRzu6JcJMIBGFpqmuqnwk4l9bplpNoWgu_uKVi8ASib1sWNabZoz3RM9F7PZ5KWvSH8SBrW3GEmJU18vRXRHtlM-PTEwqwNvp853HOEMGKNiq7w3xtwFG-altrdjf3wbrUuJG2arkkWKP3HDuXLFRyYVo8LlnUf5smXOBwrvPQntqbz03\",\n
        \                   \"title\": \"Label Property Descriptions\",\n                    \"type\":
        \"text/csv\"\n                }\n            },\n            \"bbox\": [\n
        \               33.68891,\n                3.470735,\n                33.6945567,\n
        \               3.4746533\n            ],\n            \"collection\": \"ref_african_crops_uganda_01\",\n
        \           \"geometry\": {\n                \"coordinates\": [\n                    [\n
        \                       [\n                            33.6945567,\n                            3.470735\n
        \                       ],\n                        [\n                            33.6945567,\n
        \                           3.4746533\n                        ],\n                        [\n
        \                           33.68891,\n                            3.4746533\n
        \                       ],\n                        [\[...]
